body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  box-sizing: border-box;
  .modal {
    .background-theme {
      position: fixed;
      z-index: 9999;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 16px;
      background-color: hsla(0, 0%, 0%, 0.5);
      .add-account {
        position: fixed;
        z-index: 2;
        width: 30%;
        // height: 372px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 16px;
        border-radius: 16px;
        background-color: #ffffff;
        @media screen and (max-width: 650px) {
          width: 80%;
        }
        .add-account-container {
          padding: 30px;
          display: grid;
          place-content: center;
          .prod-name {
            display: grid;
            grid-template-columns: auto auto;
            margin-bottom: 10px;
            label {
              font-size: 20px;
              font-weight: 400;
              line-height: 20px;
              padding-right: 3px;
            }
            > div {
              font-size: 20px;
              font-weight: 400;
              line-height: 20px;
            }
          }
          .prod-qty {
            label {
              font-size: 20px;
              font-weight: 400;
              line-height: 20px;
              padding-right: 3px;
              padding-right: 3px;
            }
            input {
              width: 50px;
              border-radius: 5px;
            }
            .qty{
              color: red;
            }
          }
          button {
            display: block;
            padding: 5px;
            border-radius: 5px;
            background: rgb(19, 19, 45);
            color: white;
            cursor: pointer;
          }
          h2 {
            margin-bottom: 10px;
            margin-right: 3px;
            span {
              color: red;
            }
          }
        }
      }
      .success-account {
        display: grid;
        place-content: center;
        position: fixed;
        z-index: 2;
        width: 40%;
        height: 312px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 16px;
        border-radius: 16px;
        background-color: #ffffff;
        @media screen and (max-width: 980px) {
          width: 90% !important;
        }
        .success-container {
          display: grid;
          place-content: center;
          > div {
            display: grid;
            place-content: center;
            padding-bottom: 20px;
          }
          .success-cont1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32.4px;
            text-align: center;
          }
          .success-cont2 {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
          }
        }
      }
    }
  }
  .prod-cont {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 650px) {
      grid-template-columns: auto;
      place-content: center;
    }
    .prod-left {
      img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }
      .prod-btn {
        margin-top: 10px;
        button {
          display: block;
          padding: 5px;
          border-radius: 5px;
          background: rgb(19, 19, 45);
          color: white;
          cursor: pointer;
        }
      }
    }
    .prod-right {
      display: grid;
      > div {
        margin-bottom: 10px;
      }
      .prod-name {
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
      }
      .prod-desc {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: underline;
      }
      .desc-content {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
      }
      .price {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        span {
          color: red;
        }
      }
    }
  }
  .other-products {
    h1 {
      width: 90%;
      margin: 0 auto;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
    }
    .product-container {
      padding: 50px 0;
      width: 98%;
      display: grid;
      place-content: center;
      grid-template-columns: repeat(auto-fit, minmax(217px, 300px));
      gap: 16px;
      .adGridView {
        position: relative;
        display: grid;
        max-width: 300px;
        min-width: 217px;
        height: 400px;
        background-color: #e9e9e9;
        border: solid 1.5px #e9e9e9;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        .favouriteIcon {
          position: absolute;
          top: 10px;
          left: 10px;
          cursor: pointer;

          &:hover {
            rect {
              fill: #ffffff;
              fill-opacity: 1;
            }
            path {
              fill: #f90047;
            }
          }

          &.active {
            rect {
              fill: #f90047;
              fill-opacity: 1;
            }
            path {
              fill: #ffffff;
            }
          }
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 10px;
        }
        .adDetails {
          display: grid;
          grid-template-columns: auto auto;

          .adTitle {
            color: #212121;
            font-family: Quicksand, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }

          .price {
            color: #f90047;
            font-family: sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-align: right;
          }
        }
        .store-compare {
          display: flex;
          justify-content: space-between;

          > div {
            button {
              border-radius: 100px;
              border: 1px solid #a4a4a4;
              background: #ffffff;
              padding: 10px 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 3px;
              color: #212121;
              font-family: Quicksand, sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;

              &:hover {
                border: 1px solid #f90047;
                color: #f90047;

                path {
                  fill: #f90047;
                }
              }
            }

            .compare {
              &.active {
                background-color: #f90047;
                color: #ffffff;
                border: none;

                path {
                  fill: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}
