body {
  width: 90%;
  margin: 50px auto;
  button {
    padding: 10px 20px;
    width: 130px;
    border-radius: 20px;
    background: rgb(19, 19, 45);
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
